.data-display {
    box-shadow: 0 4px 8px 0 rgba(34, 37, 43, 0.2);
    background-color: rgb(178, 233, 233);
    border: 1px solid rgb(21, 82, 79);
    border-radius: 12px;
}

.data-display-in-li {
    box-shadow: 0 4px 8px 0 rgba(34, 37, 43, 0.2);
    background-color: rgb(178, 233, 233);
    border: 1px solid rgb(21, 82, 79);
    border-radius: 12px;
}
